/* *** COMMONS *** */

.ms_rounded{
    border-radius: 20px;
}

.bi-chevron-down{
    font-size: 10px;
}

.bi-search{
    font-size: 30px;
}

.ms_border_radius{
    border-radius: 20px;
}

.ms_height{
    height: 100%;
}

.ms_space-between{
    justify-content: space-between;
}

.ms_font-size{
    font-size: 40px;
}

.ms-btn{
    border: 2px solid red ;
}
.ms-btn:hover{
    border: 2px solid white ;
}


/* *** HEADER *** */
#header-top{
    height: 40px;
}

#header-top #sony-logo img{
    width: 80px;
}

.ms_font-size{
    font-size: 40px;
}
#header-bottom img{
    height: 50px;
}


 
img#returnal-hero{
    width: 350px;
}

/* *** JUMBO *** */

#jumbotron .container-fluid{
    height: 600px;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
}

#jumbotron .container .new-releases{
    width: 100%; 
    border-radius: 15px;
    border: 2px solid white;
 }

#jumbotron .container .new-releases img{
   width: 100%;
   padding: 3px;
   border-radius: 15px;
}

#jumbotron .container .new-releases:hover{
    border: 2px solid #0072ce;
}


/* *** MAIN *** */



main .console-play-station-5 img{
    width: 100%;
}

main .items img{
    width: 100%;
}

#megatron{
    background-color: black;
}

#megatron .container-fluid{
    height: 600px;
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
}

#megatron .container-fluid #it-tekes-hero{
    width: 300px;
}

#megatron .container .new-releases img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
}
#megatron .container .text #tm{
    font-size: 9px;
    position: relative;
    bottom: 5px;
}


main .explore-play-station-4{
    height: 200px;
    background-color: blue;
}

main .items-ps4{
    height: 80px;
    background-color: yellow;
}

main #minitron .container-fluid{
    height: 300px;
    background-color: black;
}
main #play-statipn-plus .container-fluid{
    height: 300px;
    background-color: black;
}

main #social .social-icon{
    height: 80px;
    background-color: cyan;
}

/* *** FOOTER *** */

footer{
    height: 900px;
    background-color: #00439c
}




/* @media screen and (min-width: 576px){
    #jumbotron .container .new-releases img{
       width: 160px; 
    }
}

@media screen and (min-width: 768px){
    #jumbotron .container .new-releases img{
       width: 200px; 
    }
}

@media screen and (min-width: 992px){
    #jumbotron .container .new-releases img{
       width: 140px; 
    }
} */