/* *** COMMONS *** */


.ms_rounded{
    border-radius: 20px;
}

/* *** HEADER *** */
#header-top{
    height: 40px;
}

#header-top #sony-logo img{
    width: 80px;
}

#header-bottom{
    height: 100px;
}


/* *** JUMBO *** */

#jumbotron .container-fluid{
    height: 600px;
    background-color: black;
}

#jumbotron .container .new-releases{
    height: 100px;
    background-color: green;
}


/* *** MAIN *** */


main .new-play-station-5{
    height: 200px;
    background-color: red;
}

main .console-play-station-5{
    height: 200px;
    background-color: blue;
}

/* *** FOOTER *** */



